In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('alex_streets_final.csv')

In [4]:
df2 = pd.read_csv('zach_streets_final.csv')

In [6]:
df1.head()

,confidence,file_name,transcript,tokens,streets,numbers,full_streets
0,0.801003,sample92-25818-20200501-0941.wav,a van a t show a joke to 19219 South Street,"['a', 'van', 'a', 't', 'show', 'a', 'joke', 't...","Van , South",['19219'],"['19219 Van', '19219 South']"
1,0.819970,sample644-25818-20200501-1439.wav,medical a r v a $12 C Street Hyde Park / 28 / ...,"['medical', 'a', 'r', 'v', 'a', 'C', 'Street',...","Hyde , Park , Hyde , Park , Fox",['12'],"['12 Fox', '12 Park', '12 Hyde']"
2,0.804967,sample315-25818-20200501-1509.wav,what happened to a medic you / sponsor T Adams...,"['what', 'happened', 'to', 'a', 'medic', 'you'...","Adams , Lexington , Milton",['11'],"['11 Milton', '11 Adams', '11 Lexington']"
3,0.767576,sample23-25818-20200501-0413.wav,"a t pull it off and just pull up in 1 / man, r","['a', 't', 'pull', 'it', 'off', 'and', 'just',...",Off,['1'],['1 Off']
4,0.741951,sample1013-25818-20200501-0343.wav,20 Old Road / 360,"['Old', 'Road']",Old,['20'],['20 Old']

In [12]:
df2 = df2.drop(columns = ['audio_length', 'transcribe_time'])

In [11]:
df2.head()

,file_name,confidence,transcript,tokens,streets,numbers,full_streets
0,sample-1-25818-20200502-1830-5330.wav,0.670882,2153 Charlotte and Catawba Street 1758,"['Charlotte', 'and', 'Catawba', 'Street']",Charlotte,['2153'],['2153 Charlotte']
1,sample-10-25818-20200502-1601-34333.wav,0.455361,1946 West Town of eleven,"['West', 'Town', 'of', 'eleven']","West , Town",['1946'],"['1946 Town', '1946 West']"
2,sample-10-25818-20200502-1601-34333.wav,0.830881,Carol 2837 settings,"['Carol', 'settings']",Carol,['2837'],['2837 Carol']
3,sample-11-25818-20200502-1222-9001.wav,0.728600,Thomas 155 Lexington Street South Korea parkin...,"['Thomas', 'Lexington', 'Street', 'South', 'Ko...","Thomas , Lexington , South",['155'],"['155 Thomas', '155 South', '155 Lexington']"
4,sample-11-25818-20200502-1332-8849.wav,0.823085,I said are no magical one Central Square East ...,"['I', 'said', 'are', 'no', 'magical', 'one', '...","Central , East , Boston , Red , Bennington , C...",['6163'],"['6163 Central', '6163 Red', '6163 Bennington'..."

In [13]:
df3 = pd.concat([df1, df2])

In [ ]:
df3.head()

In [ ]:
df3.to_csv('')