In [115]:
# ! pip install usaddress

In [116]:
# ! pip install spacy

### Import All Neccesary Libraries

In [2]:
import spacy
import re
import pandas as pd
from spacy import displacy
from spacy.attrs import LOWER 
from collections import Counter
from spacy.matcher import Matcher
import numpy as np
import usaddress
import requests
import pandas as pd

import nltk
from nltk.tokenize import RegexpTokenizer

nlp = spacy.load('en_core_web_sm')

In [3]:
# Set column width to be larger to display more content
pd.options.display.max_colwidth = 1000

### Import the Transcribed Audio

In [4]:
df = pd.read_csv('./Datasets/sample_transcript/ALEX_full_transcript.csv')
df.head(2)

,confidence,file_name,transcript
0,0.479057,sample786-25818-20200501-0442.wav,a m
1,0.605411,sample116-25818-20200501-0941.wav,a blast from the a second alarm to go off in fact about

### Import List of Streets

In [5]:
street_list = pd.read_csv('./Datasets/Metro_West_Streets.csv')

In [6]:
streets_list = street_list['0'].tolist()

### Tokenize the Transcribed Audio

In [7]:
def identify_tokens(row):
    tran = row['transcript']
    tokens = nltk.word_tokenize(tran)
    # taken only words (not punctuation)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

df['tokens'] = df.apply(identify_tokens, axis=1)

# adpapted from Michael Allen (pythonhealthcare.org)

In [8]:
df.head(2)

,confidence,file_name,transcript,tokens
0,0.479057,sample786-25818-20200501-0442.wav,a m,"[a, m]"
1,0.605411,sample116-25818-20200501-0941.wav,a blast from the a second alarm to go off in fact about,"[a, blast, from, the, a, second, alarm, to, go, off, in, fact, about]"

### Identify and Match Street Names from the Audio Transcripts

In [9]:
# Instantiate the Spacy Matcher Function
matcher = Matcher(nlp.vocab)

# Create a matching function
def on_match(matcher, doc, id, matches):
    return matches

# building patterns for every road name
def build_pattern(road_name):
    list_words = road_name.split(' ')
# ensure capitlization does not affect the model 
    pattern = [{'LOWER': word.lower()} for word in list_words]
    return pattern

# Get a pattern of every road
for road in streets_list:
    matcher.add(road, on_match, build_pattern(road))
    
# capitalize all the strings
def capitalize_string(string_in):
    words = string_in.split(' ')
    string_out = ''
    for i in words:
        string_out += i.capitalize() + ' '
    string_out = string_out[:-1]
    return string_out   
    
# Look for locations in the transcript, then extract them
def location_extraction_context(string_in):
    doc = nlp(string_in)
    string_out = ''
    list_words = string_in.split(' ')
    matches = matcher(doc)
    if len(matches) == 0:
        return None

    # loop through the matches and make sure they all follow the same format
    for match in matches:
        list_pattern = matcher.get(match[0])[1][0]
        for token in list_pattern:
            string_out += token['LOWER'] + ' '
        string_out += ', '
    string_out = string_out[:-3]
    string_out = capitalize_string(string_out)
    return string_out

# Add a column consisting of the extracted streets
df['streets'] = df['transcript'].map(location_extraction_context)

Above Code Adapted from: Grant Wilson San Francisco Cohort

### Find Possible Street Numbers

In [125]:
# Creat list to house data from all addresses
addresses = []

# Loop Through all DataFrame's rows
for row in df['transcript']:
    # Create dictionary to house data for each row of the DataFrame
    d = {}
    
    # Parse through rows and house results in a list
    list_tuples = usaddress.parse(row)
    
    # Create variable to house list of possible numbers
    numbers = []
    
    # Loop through each value in the list created
    for i, n in enumerate(list_tuples):
        
        # Get addresses' numbers
        if list_tuples[i][1] == 'AddressNumber':
            
            # Append numbers to list
            numbers.append(n[0])
    
    # Include keys and values into d
    d['numbers'] = numbers
    
    # Append d to addresses
    addresses.append(d)

Above Code Adapted from: Grant Wilson San Francisco Cohort

### Add Street Number Column to the Dataframe

In [126]:
df = pd.concat([df, pd.DataFrame(addresses)], axis=1)

In [127]:
# Drop NaNs
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [128]:
df.shape

(646, 6)

### Generate a List of All Possible Adresses for each Row in the Transcript

In [129]:
# Creat list to house data for possible addresses
possibilities = []

# Loop Through all DataFrame's rows
for i in range(0, df.shape[0]):
    
    # Create variables to temporarily house information
    final_poss = []
    d = {}
    number_poss = []
    
    # Loop through values in each row / numbers
    for row in df[i:i+1]['numbers']:
        for a_number in row:
            number_poss.append(a_number)
    
    # Loop through values in each row / streets
    street_poss = []
    for row2 in [x.split(',') for x in df[i:(i+1)]['streets']][0]:
        for j in row2.split(','):
            street_poss.append(j.strip())

    # Concatenate numbers and streets
    for i in number_poss:
        for j in street_poss:
            final_poss.append(i + ' ' + j)

    # Append all possibilities to list
    d['full_streets'] = list(set(final_poss))
    possibilities.append(d)

# Concatenate dataframes
df = pd.concat([df, pd.DataFrame(possibilities)], axis=1)

Above Code Adapted from: Grant Wilson San Francisco Cohort

In [130]:
df.head(2)

,confidence,file_name,transcript,tokens,streets,numbers,full_streets
0,0.605411,sample116-25818-20200501-0941.wav,a blast from the a second alarm to go off in fact about,"[a, blast, from, the, a, second, alarm, to, go, off, in, fact, about]","The , Off",[],[]
1,0.801003,sample92-25818-20200501-0941.wav,a van a t show a joke to 19219 South Street,"[a, van, a, t, show, a, joke, to, South, Street]","Van , South",[19219],"[19219 Van, 19219 South]"

### Drop Blanks

In [131]:
df['full_streets'] = df['full_streets'].map(lambda x: np.nan if len(x) == 0 else x)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [132]:
df.head(2)

,confidence,file_name,transcript,tokens,streets,numbers,full_streets
0,0.801003,sample92-25818-20200501-0941.wav,a van a t show a joke to 19219 South Street,"[a, van, a, t, show, a, joke, to, South, Street]","Van , South",[19219],"[19219 Van, 19219 South]"
1,0.819970,sample644-25818-20200501-1439.wav,medical a r v a $12 C Street Hyde Park / 28 / medical s s a $12 C Street Hyde Park v r s Fox / e s 3-1 r a / a ballast r e 1417,"[medical, a, r, v, a, C, Street, Hyde, Park, medical, s, s, a, C, Street, Hyde, Park, v, r, s, Fox, e, s, r, a, a, ballast, r, e]","Hyde , Park , Hyde , Park , Fox",[12],"[12 Fox, 12 Hyde, 12 Park]"

In [133]:
df.shape

(81, 7)